.filter-section {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #fefefe;
  height: 6rem;
  border-bottom: 0.1rem inset;
}

.filter {
  border: 0.01rem solid rgb(207, 207, 207);
  color: rgb(156, 156, 156);
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 0.9rem;
  margin-right: 1rem;
  line-height: 0.5rem;
  height: 0.6rem;
  align-self: center;
}
